.center {
    margin: auto;
    width: 800;
}
.fakeTextBox {
	border: 1px;
	width: 100%;
}
.selector {
}
.filterSection{
	clear: both;
}
.dept {
    width: 14%;
}
.courseNum {
    width: 14%;
}
.courseTitle {
    width: 40%;
}
.creds {
    width: 13%;
}
.genEds {
    width: 20%;
}
#tableDiv{
	clear: both;
    background-color: #dddddd;
}
#filterDiv{
	text-align: center;
	clear: both;
    background-color: #aaddff;
}
h1{
	font-size:150%;
	margin: 10;
}
h3{
	font-size:120%;
	margin: 0;
}
body {
    font-family: "Calibri", Sans-Serif;
    background-color: #ffffff;
    font-size: 18px;
}
table {
	border: 1px solid;
    border-collapse: collapse;
    width:100%;
    font-size: 18px;
}
th {
	border: 1px solid;
	padding: 1px;
	text-align: center;
}
td {
	text-align: left;
	border: 1px solid;
}
